/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9C25C7;
  --ifm-color-primary-dark: #5A0A76;
  --ifm-color-primary-darker: #3F0354;
  --ifm-color-primary-darkest: #240130;
  --ifm-color-primary-light: #9C25C7;
  --ifm-color-primary-lighter: #C055E6;
  --ifm-color-primary-lightest: #E59DFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-color: #303037;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #5A0A76;
}

.aa-DetachedSearchButton {
  border: 1px solid #E3E3E9 !important;
  border-radius: 6px !important;
  min-width: 150px !important;
  justify-content: space-between;
  padding: 0 8px 0 12px !important;
}

.aa-DetachedSearchButton:hover {
  border-color: #CFCFD6 !important;
}

.aa-DetachedSearchButton:focus {
  box-shadow: 0 0 0 3px #F1C9FF !important;
  border-color: #9C25C7 !important;
}

.aa-DetachedSearchButtonIcon {
  fill: #CFCFD6 !important;
  color: #CFCFD6 !important;
  order: 2;
}

.aa-DetachedSearchButtonPlaceholder {
  order: 1;
  color: #CFCFD6;
}

.navbar__link, .navbar__link--active {
  color: #5A5A5F !important;
}

.navbar__link:hover {
  color: #9C25C7 !important;
}

.aa-DetachedFormContainer .aa-Form {
  border-color: #E3E3E9 !important;
  border-radius: 6px !important;
}

.aa-DetachedFormContainer .aa-Form:hover {
  color: #9C25C7 !important;
}

.aa-DetachedFormContainer .aa-Form:focus-within, .aa-Form[focus-within] {
  box-shadow: 0 0 0 3px #F1C9FF !important;
  border-color: #9C25C7 !important;
}

.aa-DetachedFormContainer .aa-SubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-DetachedFormContainer .aa-DetachedCancelButton {
  border-radius: 6px !important;
}

.aa-Label svg, .aa-LoadingIndicator svg {
  fill: #CFCFD6 !important;
  color: #CFCFD6 !important;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, #7F0EEF, #17E0C8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Sidebar customizations */

/* Adds margin between categories; controls bold at top level */

li.theme-doc-sidebar-item-category-level-1 {
  .menu__list-item-collapsible {
    font-weight: 700;
  }

  &:not(:first-of-type) .menu__list-item-collapsible {
    margin-top: 15px;
  }
}

/* Removes hover effect from top level */

div:has(> a:not([href])) {
  &:hover {
    background: none !important;
  }
}

/* Don't think we'll go past even L3, but add more styles if we go beyond 4 */

li.theme-doc-sidebar-item-category-level-2 .menu__list-item-collapsible {
  font-weight: 500 !important;
  margin-top: 0 !important;
}

li.theme-doc-sidebar-item-category-level-3 .menu__list-item-collapsible {
  font-weight: 500 !important;
  margin-top: 0 !important;
}

li.theme-doc-sidebar-item-category-level-4 .menu__list-item-collapsible {
  font-weight: 500 !important;
  margin-top: 0 !important;
}

/* Spacing for all items */

.menu__link {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

/* Keeping second-level menus grey when active; adds bold when active */

.menu__list-item-collapsible .menu__link--active{
  background: none !important;
  color: #303037;
  font-weight: 700 !important;
}

/* Makes active page slightly bold; active item will be purple */

.menu__link--active{
  font-weight: 600 !important;
}

/* DocSearch */

/* Makes search bar wider on non-mobile */
@media (min-width: 768px) {
  .DocSearch.DocSearch-Button{
    width: 250px
  }
}