/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9C25C7;
  --ifm-color-primary-dark: #5A0A76;
  --ifm-color-primary-darker: #3F0354;
  --ifm-color-primary-darkest: #240130;
  --ifm-color-primary-light: #9C25C7;
  --ifm-color-primary-lighter: #C055E6;
  --ifm-color-primary-lightest: #E59DFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #5A0A76;
}

.aa-DetachedSearchButton {
  border: 1px solid #E3E3E9 !important;
  border-radius: 6px !important;
  min-width: 150px !important;
  justify-content: space-between;
  padding: 0 8px 0 12px !important;
}

.aa-DetachedSearchButton:hover {
  border-color: #CFCFD6 !important;
}

.aa-DetachedSearchButton:focus {
  box-shadow: 0 0 0 3px #F1C9FF !important;
  border-color: #9C25C7 !important;
}

.aa-DetachedSearchButtonIcon {
  fill: #CFCFD6 !important;
  color: #CFCFD6 !important;
  order: 2;
}

.aa-DetachedSearchButtonPlaceholder {
  order: 1;
  color: #CFCFD6;
}

.navbar__link, .navbar__link--active {
  color: #5A5A5F !important;
}

.navbar__link:hover {
  color: #9C25C7 !important;
}

.aa-DetachedFormContainer .aa-Form {
  border-color: #E3E3E9 !important;
  border-radius: 6px !important;
}

.aa-DetachedFormContainer .aa-Form:hover {
  color: #9C25C7 !important;
}

.aa-DetachedFormContainer .aa-Form:focus-within, .aa-Form[focus-within] {
  box-shadow: 0 0 0 3px #F1C9FF !important;
  border-color: #9C25C7 !important;
}


.aa-DetachedFormContainer .aa-SubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aa-DetachedFormContainer .aa-DetachedCancelButton {
  border-radius: 6px !important;
}

.aa-Label svg, .aa-LoadingIndicator svg {
  fill: #CFCFD6 !important;
  color: #CFCFD6 !important;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, #7F0EEF, #17E0C8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
